<%- include("partials/header"); -%>

<body>
  <div class="container">
    <h1>Compose</h1>
    <form action="/compose" method="post">
      <div class="form-group">
        <span>Title</span>
        <input
          type="text"
          name="composeTitle"
          class="form-control"
          placeholder="What's on your mind?"
          autocomplete="off"
        />
        <span>Post</span>
        <textarea name="composeBody" class="form-control" rows="3"></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        name="button"
        style="margin-top: 10px"
      >
        Publish
      </button>
    </form>
  </div>
</body>

<%- include("partials/footer"); -%>
